
<footer>
    <div class="lineBox">
        <hr class="line">
        </div>
    <div class="f-info">
        <div class="box">
        <div class="private">&copy;Warnderer Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/company_details">Company Details</a>
        </div>
        </div>
        <div class="f-info-social">
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/dashboard"><i class="fa-brands fa-github-square"></i></a>
            <a href="https://www.instagram.com/_synchronic_/"><i class="fa-brands fa-instagram-square"></i></a>
        </div>
    </div>
</footer>